// hover colors

.btn-primary:hover {
  background-color: $primary-yellow;
  border-color: $primary-yellow;
}

.btn-secondary:hover {
  background-color: $secondary-hover;
  border-color: $secondary-hover;
}
