.footer-content {
  .footer-links {
    padding-left: 0.75rem;

    @include media-breakpoint-up(lg) {
      padding-left: calc((100vw - 960px) / 2 + 0.75rem);
    }

    @include media-breakpoint-up(xl) {
      padding-left: calc((100vw - 1140px) / 2 + 0.75rem);
    }

    @include media-breakpoint-up(xxl) {
      padding-left: calc((100vw - 1320px) / 2 + 0.75rem);
    }

    .footer-nav {
      a {
        transition: transform 0.2s ease;

        &:hover {
          text-decoration: underline !important;
          text-underline-offset: 4px;
          display: inline-block;
          transform: scale(1.02);
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .footer-content {
    .footer-links {
      padding-left: 1.88rem;
    }
  }
}

.footer-logos {
  .d-block {
    max-width: 14rem;
    max-height: 4.375rem;
  }
}
