.partners {
  .partners-content {
    max-width: 49.5rem;
  }

  .partner-cell {
    width: 25%;
    height: 8rem;
    border-radius: 12px;
    transition:
      box-shadow 0.4s ease,
      background 0.4s ease,
      transform 0.4s ease;

    img {
      max-width: 80%;
      max-height: 80%;
    }

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      background: white;
      transform: scale(1.05);
    }
  }



@media (max-width: 767.98px) {
    .partners-content {
      .partner-cell {
        width: 50%;
        height: 5rem;
      }
    }
  }
}
